body { background: #f6f7f3; background-attachment: fixed; background-image: linear-gradient(to bottom right, #e9eae1 , #f7f7f7, #e9eae1); padding-bottom: 1em; }
article { background: none; border: none;}
nav ul { text-align: left; }
footer { padding-bottom: 0px; }
.icon { max-width: 24px; }
.photo__block { float: left; margin-top: 72px; margin-right: 50px; }
header {
  padding-left: 40px;
  padding-bottom: 10px;
}
nav.nav--links ul li {
  margin-top: 10em;
}
@media screen and (max-width: 767px ) {
  .photo__block {
    float: none;
    margin: 0 0 30px 0;
  }
  .photo__block img {
    margin: 0;
  }
  header {
    padding: 18px;
  }
  h1 {
    margin: 1em 0 0.5em;
    font-size: 32px;
  }
  p {
    margin-bottom: 0.5em;
  }
  nav ul.nav--links li {
    display: block;
    margin-left: 0;
  }
}
