<footer>
  <nav>
    <ul>
      <li>
        <small>Made by <a href="https://pismenny.ru">Human</a>, 2025</small>
      </li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li><small><a href="/offer-agreement.pdf">Договор-Оферта</a></small></li>
      <li><small><a href="/guide">HADI guide</a></small></li>
      <li><small><a href="https://t.me/startup_life_ru">Канал в Телеграм</a></small></li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li>
        <a href="https://github.com/dapi/hadi-lab.ru" target="_blank">
          <img src="https://img.shields.io/github/stars/dapi/hadi-lab.ru.svg?style=flat-square" alt="github stars"/>
        </a>
      </li>
      <li>
        <a href="http://jigsaw.w3.org/css-validator/check/referer">
          <img style="border:0;width:88px;height:31px"
               src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
               alt="Valid CSS!" />
        </a>
      </li>
    </ul>
  </nav>
  {% comment %}<nav>{% endcomment %}
    {% comment %}<ul>{% endcomment %}
      {% comment %}<li>VERSION</li>{% endcomment %}
    {% comment %}</ul>{% endcomment %}
  {% comment %}</nav>{% endcomment %}
</footer>


{% comment %}<footer>{% endcomment %}
 {% comment %}<nav>{% endcomment %}
  {% comment %}<ul>{% endcomment %}
    {% comment %}<li><a href="https://docs.google.com/document/d/e/2PACX-1vTBPkxPX_Lics5PeuWAcLfCwXGBaOnD419St3q4krSaPkfWE0lDkpSbhmgwpwaqiws1AW7STHk9wQOR/pub" target="_blank">Договор-Оферта</a></li>{% endcomment %}
    {% comment %}<li><a href="https://t.me/hadi_lab_ru" target="_blank">Телеграм-канал</a></li> {% endcomment %}
    {% comment %}<li><a href="book/">HADI book</a></li>{% endcomment %}
    {% comment %}<li>&copy; HADI Lab 2025</li>{% endcomment %}
   {% comment %}</ul>{% endcomment %}
 {% comment %}</nav>{% endcomment %}
{% comment %}</footer>{% endcomment %}
