<footer>
  <nav>
    <ul>
      <li><a href="https://docs.google.com/document/d/e/2PACX-1vTBPkxPX_Lics5PeuWAcLfCwXGBaOnD419St3q4krSaPkfWE0lDkpSbhmgwpwaqiws1AW7STHk9wQOR/pub" target="_blank">Договор-Оферта</a></li>
      <li><a href="https://t.me/hadi_lab_ru" target="_blank">Телеграм-канал</a></li> 
      <li><a href="/guide" target="_blank">Руководство по HADI</a></li> 
      <li><a href="/" target="_blank">Трекшен гипотез</a></li> 
      <li><a href="/contact" target="_blank">Контакты</a></li> 
    </ul>
  </nav>
  <nav>
    <ul>
      <li>&copy; 21:59 25 Августа 2025 made by Human, спровоцировано by <a href="https://t.me/impulse_365" target="_blank">IMPULSE</a></li>
    </ul>
  </nav>
</footer>

