<footer>
  <nav>
    <ul>
      <li><a href="/guide" target="_blank">Руководство по HADI</a></li> 
      <li><a href="/" target="_blank">Трекшен гипотез</a></li> 
      <li><a href="/contact" target="_blank">Контакты</a></li> 
      <li><a href="/acknowledgments" target="_blank">Благодарности</a></li> 
    </ul>
  </nav>
  <nav>
    <ul>
      <li>&copy; <a href="https://pismenny.ru" target="_blank">pismenny.ru</a></li>
    </ul>
    <ul>
      <li><i>Последнее обновление: {{ site.time }}</i></li>
    </ul>
  </nav>
</footer>

